body {
    background-color: #000000;
    color: #ffffff;
    font-family: Zen Dots;
}

.header{
   color: #ffffff;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    color: #ffffff;
}