body {
    background-color: #ffffff;
    color: #000000;
    font-family: Zen Dots;
}

.header{
   color: #000000;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #ffffff;
    color: #000000;
}